<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>React Microfrontends</title>
  <link rel="icon" type="image/x-icon" href="images/box.png">
  <meta name="importmap-type" content="systemjs-importmap" />

  <!-- <script type="systemjs-importmap" src="https://storage.googleapis.com/react.microfrontends.app/importmap.json"></script> -->
  <% if (PORT && isLocal)  { %>
    <script type="systemjs-importmap" src="http://localhost:<%= PORT%>/import-map.json"></script>
  <% }  else { %>
    <script type="systemjs-importmap" src="https://dev-box-spa.herokuapp.com/import-map.json"></script>
  <% } %>

  <% if (isLocal) { %>
 
  <!-- <script type="systemjs-importmap">
    {
      "imports": {
        "@meh-dev/root-config": "//localhost:9000/root-config.js"
      }
    }
  </script> -->
  <% } %>
  <!-- https://cdn.jsdelivr.net/npm/@openmrs/esm-devtools-app/dist/esm-devtools-app.js -->
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/amd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/named-exports.min.js"></script>
</head>

<body>

  <!-- <single-spa-router id="single-spa-layout"></single-spa-router> -->
  <script>
    System.import('@dev-box/root-config');
    System.import('@dev-box/styleguide');
  </script>
  <import-map-overrides-full></import-map-overrides-full>
  <!-- <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full> -->
</body>

</html>